.qualities-subtittle {
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tittle-text-color);
}

.qualities-text {
    line-height: 1.71;

    color: var(--text-color);
}

.qualities .conteiner {
    gap: 30px;
}

.qualities-list {
    display: flex;
    justify-content: space-between;
}

.qualities-item {
    flex-basis: calc((100% - 90px) / 4);
}

.qualities-subtittle {
    font-size: 14px;
    margin-bottom: 10px;
}

.qualities-img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-team);
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}